<h1>oerfeeds.info</h1>

<p>This site provides an index of 
  <acronym title="Open Educational Resource">OER</acronym> feeds which
  can be aggregated by other applications.
</p>

<ul>
  <li><%= link_to 'OPML list of feeds', formatted_feeds_path(:opml) %></li>
  <% logged_out_view? do -%>
    <li><a href="/login">Login</a> to add or edit your feeds.</li>
  <% end -%>
  </ul>

<% logged_in_view? do -%>
  <p><%= link_to('Add Feed', new_user_feed_path(current_user), {:title => "Add a new feed.", :target => "_self"}) %></p>
<% end -%>

<h2>Most Recent OER Feeds</h2>
<%= render(:partial => "shared/feeds") %>

<p>(<a href="http://www.opml.org/spec2">OPML Format</a>)</p>