<h1>oerfeeds.info</h1>

<p>This site provides an index of 
  <acronym title="Open Educational Resource">OER</acronym> feeds which
  can be aggregated by other applications.
</p>

<ul>
  <li>Get the list as <a href="http://www.opml.org/spec2">OPML</a> 
    <a href="">here</a>.</li>
  <li><a href="">Login</a> to add or edit your feeds.</li>
</ul>


