<%= error_messages_for :feed %>
<table summary="layout for data feed form">
   <tr>
     <td><label for="title">Title</label></td>
     <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><label for="uri">Feed Url</label></td>
     <td><%= f.text_field :uri %></td>
    </tr>
</table>

