<h1>Contributors</h1>
<table>
<% for user in @users %>
  <tr>
    <td><%= link_to user.login, user %></td>
		<% can_view? current_user, 'admin' do -%>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end -%>
  </tr>
<% end %>
</table>